header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: none;
}

.sidebar{
    width: 100%;
    float: right;
}
main{
    display: flex;
    justify-content: space-between;
}
header ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}